.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 95%;
}

.slider__img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.dots {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    gap: 3px;
}

.dots__dot {
    width: 3px;
    height: 3px;
    opacity: 0.3;
}

.active {
    opacity: 1;
}