.bar {
    background-color: #d8d8d8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 50px;
    border-radius: 30px;
}

.bar__element {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}