.card {
    width: 66px;
}

.card__img {
    width: 66px;
    height: 66px;
    border-radius: 15px;
}

.card__title {
    display: block;
    font-size: 11px;
    width: 66px;
    color: #292928;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_big {
    width: 150px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-family: Inter-reg sans-serif;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card__img {
        width: 100%;
        height: 169px;
        border-radius: 20px;
    }

    .card__title {
        color: #292928;
        font-size: 13px;
        text-align: center;
    }
}