@font-face {
    font-family: Inter-reg;
    src: url(../../assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Mulish-ExtraBold;
    src: url(../../assets/fonts/Mulish-ExtraBold.ttf);
}

.card {
    position: relative;
    width: 150px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-family: Inter-reg sans-serif;
    padding: 2px;
}

.card__status {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80px;
    top: 10px;
    left: 15px;
    gap: 2px;
    font-family: Mulish-ExtraBold sans-serif;
    font-size: 11.43px;
    font-weight: 800;
}

.card__like {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 15px;
    padding: 0;
    background-color: transparent;
}

.hit {
    background-color: #FF6723;
    width: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale {
    background-color: #FFCA28;
    width: 46px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prem {
    background-color: #292928;
    width: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new {
    background-color: #45B649;
    width: 45px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 100%;
    height: 169px;
    border-radius: 20px;
}

.card__desc {
    /* padding: 5px; */

}

.card__price {
    color: #292928;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
}

.price_name {
    height: 50px;
}

.crossed {
    opacity: 0.3;
    font-size: 10px;
    text-decoration: line-through;
}

.discount {
    font-size: 10px;
    color: #F24131;
}

.card__name {
    display: block;
    color: #292928;
    font-size: 13px;
    line-height: 115%;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__btn {
    display: flex;
    width: 100%;
    min-height: 40px;
    border-radius: 20px;
    background-color: #F1F1F1;
    color: #292928;
    justify-content: center;
    align-items: center;
}

.minus {
    display: flex;
    flex: 1;
    border: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #292928;
}

.inCart {
    display: flex;
    flex: 1;
    border: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #292928;
}

.plus {
    display: flex;
    flex: 1;
    border: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #292928;
}