.page {
    background-color: #F1F1F1;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 80px 0;
    height: 100%;
    color: #262626;
}