.card {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
    color: #292928;
    gap: 20px;
    box-sizing: border-box;

}

.card__img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.card__title_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__title {
    font-size: 13px;
    text-align: left;
}

.price__conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card__price_crossed {
    color: #2929284d;
    text-decoration: line-through;
    font-size: 10px;
    text-align: left;
}

.card__discount {
    color: #F24131;
    font-size: 10px;
    text-align: left;
}

.card__price {
    font-size: 16px;
    text-align: left;
}