.page {
    background-color: #F1F1F1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 80px 0;
    height: 100%;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 10px;
}