.page {
    background-color: #F1F1F1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 80px 0;
    min-height: 100vh;
}

.page__title {
    color: #292928;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
}

.empty {
    color: #292928;
}