.search {
    display: block;
    z-index: 1;
    border-radius: 20px;
    width: 95%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 20px;
}

.search__input {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: #292928;
}

.cards_container {
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.searchDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}