.search_cont_full {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
}

.search_cont {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
}

.search {
    display: flex;
    z-index: 1;
    border-radius: 20px;
    width: 95%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 20px;
}

.search__input {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: #292928;
    outline: none;
}

.cards_container {
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.searchDropdown {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    color: #292928;
}

.closeBtn {
    background-color: transparent;
    border: none;
    color: #292928;
}