
.card {
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding: 0 5px;
    span {
        border-bottom: 1px solid #B5B5B5;
        width: 100%;
        text-align: left;
    }
}

