.page {
    background-color: #F1F1F1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 80px 0;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.input {
    border-radius: 20px;
    width: 95%;
    height: 50px;
    background-color: white;
    padding: 5px;
    input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        color: #262626;
    }
}

.submit_btn {

}