
.fast_search {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #F1F1F1;
    color: #292928;
}


.fast_search__title {
    text-align: left;
    font-size: 15px;
    padding: 0 5px;
} 